/* NEW DISPLAY LAYOUT */

#displayContainer{
    padding:20px;
    overflow-y:auto;
}

.section-title{
    width:95%;
    margin:15px auto;

    background:#21105e;
    color:#ffffff;

    text-align:center;
    font-size:90px;
    font-weight:900;

    border-radius:10px;

    padding:10px 0;
}

.latest-box{
    width:900px;
    height:280px;

    margin:20px auto;

    background:#f1f1f1;

    border:4px solid #21105e;
    border-radius:12px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.latest-title{
    font-size:90px;
    font-weight:900;
    color:#21105e;
}

.latest-id{
    font-size:65px;
    font-weight:900;
    color:#21105e;
}

.history-grid{
    width:95%;

    margin:20px auto 40px auto;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.history-box{
    min-height:180px;

    background:#f1f1f1;

    border:3px solid #21105e;
    border-radius:12px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.history-seat{
    font-size:42px;
    font-weight:900;
    color:#21105e;
}

.history-id{
    font-size:30px;
    font-weight:700;
    color:#21105e;
    margin-top:10px;
}
