html,
body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
}

.admin-page{
    background:#ececec;
    min-height:100vh;
    overflow-y:auto;
}

.display-page{
    background:#ececec;
    height:100vh;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    color:#21105e;
}

/* HEADER */
header{
    background:#21105e;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
}

/* COMMON TITLE STYLE */
.title{
    font-weight:900;
    color:#ffffff;
    letter-spacing:2px;
    line-height:1;
    text-align:center;
}

/* ADMIN PAGE TITLE ID MANAGER */
.admin-page .title{
    font-size:70px;
}


/* ADMIN PAGE HEADER id manager blue*/
.admin-page header{
    height:100px;
}

/* DISPLAY PAGE HEADER testing room blue*/
.display-page header{
    height:140px;
}


/* DISPLAY PAGE TITLE TESTING ROOM */
.display-page .title{
    font-size:140px;
}

/* GRID */
.grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:24px;
    padding:24px;
}

.card{
    background:#f1f1f1;
    border:3px solid #21105e;
    border-radius:12px;
    padding:16px;
}

.card h3{
    font-size:30px;
    color:#21105e;
}

.card input{
    width:100%;
    box-sizing:border-box;
    font-size:32px;
    padding:12px;
}

.card button{
    width:100%;
    padding:12px;
    margin-top:10px;
    font-size:28px;
    font-weight:900;
}

.called{
    background:#2daa43 !important;
    color:#ffffff !important;
}

/* DISPLAY BOARD */
.board{
    flex:1;
}

.board table{
    width:100%;
    height:100%;
    border-collapse:collapse;
    table-layout:fixed;
}

.board th{
    background:#8dbfc0;
    color:#21105e;
    font-size:40px;
    font-weight:900;
    height:80px;
    border:1px solid #21105e;
}

.board td{
    color:#21105e;
    border:1px solid #21105e;
    text-align:center;
    vertical-align:middle;
    font-size:60px;
    font-weight:900;
    padding:0;
}

.pink{
    background:#edf5ff;
}

.green{
    background:#f2fff7;
}

/* POPUP */
.popup{
    position:fixed;
    inset:0;
    background:#ececec;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#21105e;
    z-index:9999;
}

.hidden{
    display:none;
}

.seat-call{
    font-size:220px;
    font-weight:900;
    line-height:1;
}

.instruction{
    font-size:90px;
    font-weight:900;
    margin-top:20px;
}
